
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
  <style>
    .email-container{
        height: 100%;
        width: 100%;
        background-color: #F5F6F9;
        padding: 20px 0px;
        text-align: center;
	}
    .header{
        
        padding: 20px;
        font-weight: bold;
        font-size: 18px;
        color: #475467;
    }
    .content{
        max-width: 700px;
        padding: 20px;
        background-color: white;
        margin: auto;
        font-size: 14px;
        text-align: left;
        color: #272F40;
    }
    .footer{
        font-size: 10px;
        color: #98A2B3;
        padding: 20px;
    }
    .text-sm{
        margin: 0;
        padding: 0;
        line-height: 14px;
    }
  </style>
</head>
<body>
    <div class="email-container">
        
        <div class="header">CHEDRO V NSTP Serial Number</div>
        <div class="content">
            <h2>Dear {{name}},</h2>
            <p style="margin-bottom: 24px;">Here is a copy of the Transmittal letter for your application dated {{application.dateApplied}}, requesting for issuance of NSTP Serial Number for school year {{application.schoolYear}}.</p>
          <p class="text-sm" style="margin-bottom: 20px;">Thanks,</p>
            <p class="text-sm"><b>Commision on Higher Education</b></p>
            <p class="text-sm">Regional Office V</p>
            <p class="text-sm">Legazpi City, Albay</p>
        </div>
        <div class="footer">&copy; 2022 CHED Regional Office V</div>
   
  </div>
</body>
</html>