<!DOCTYPE html>

<html>
  <head>
    <title>My Table</title>
    <style>
        .pdfContainer{
            padding: 1in;
            font-size: 12px;
            
            
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
     
        .table{
            width: 100%;
           
        }
        .logo{
            width: 10%;
        }
      

    </style>
  </head>
  <body class="pdfContainer">
      <table class="table">
        <tr>
            <td class="logo"><img src="https://ched8.weebly.com/uploads/6/9/1/2/69126589/5825769_orig.png" alt="" height="80px" ></td>
            <td style="width: 90% ; ">
                <table style="width: 100% ; text-align: center;">
                    <tr><td>Republic of the Philippines</td></tr>
                <tr><td>Office of the President</td></tr>
                <tr><td><b>COMMISSION ON HIGHER EDUCATION</b></td></tr>
                <tr><td>Regional Office V</td></tr>

                </table>
            </td>
        </tr>
      </table>
     

      
     

    
  </body>
</html>